{% extends 'base.html' %}
{% load static %}
{% block extra_js %}
<script src="{% static 'booking/js/cb.js' %}"></script>
{% endblock %}
{% block content %}
<!--==============================Content=================================-->
		<div class="content">
			<div class="container_12">
				<div class="grid_5">
					<h3>CONTACT INFO</h3>
					<div class="map">
						<p><span class="blog">Maecenas vehicula egestas venenatis. Duis massa elit, auctor non pellentesque vel aliquet sit amet erat. Nullam eget dignissim nisi, aliquam feugiat nibh. </span></p>
						<div class="clear"></div>
						<figure class="">
							<iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Brooklyn,+New+York,+NY,+United+States&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=61.282355,146.513672&amp;ie=UTF8&amp;hq=&amp;hnear=Brooklyn,+Kings,+New+York&amp;ll=40.649974,-73.950005&amp;spn=0.01628,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
						</figure>
						<address>
							<dl>
								<dt>The Company Name Inc. <br>
									8901 Marmora Road,<br>
									Glasgow, D04 89GR.
								</dt>
								<dd><span>Freephone:</span>+1 800 559 6580</dd>
								<dd><span>Telephone:</span>+1 800 603 6035</dd>
								<dd><span>FAX:</span>+1 800 889 9898</dd>
								<dd>E-mail: <a href="#" class="col1">mail@demolink.org</a></dd>
							</dl>
						</address>
					</div>
				</div>
				<div class="grid_6 prefix_1">
					<h3>GET IN TOUCH</h3>
					<form id="contactform" action="" method="post">
								{% csrf_token %}
							<div class="row form-group">
								<div class="col-md-6">
									<input type="text" id="id_name" onkeyup="removeError('name')"
										   name="name" class="form-control" placeholder="Your name">
									<span id="name" class="error"></span>
								</div>
							</div>

							<div class="row form-group">
								<div class="col-md-12">
									<input type="text" id="id_email" name="email" onkeyup="removeError('email')" class="form-control" placeholder="Your email address">
									<span id="email" class="error"></span>
								</div>
							</div>

							<div class="row form-group">
								<div class="col-md-12">
									<input type="text" id="id_subject" name="subject" onkeyup="removeError('subject')" class="form-control" placeholder="Your subject of this message">
									<span id="subject" class="error"></span>
								</div>
							</div>

							<div class="row form-group">
								<div class="col-md-12">
									<textarea name="message" id="id_message" cols="30" onkeyup="removeError('message')" rows="10" class="form-control" placeholder="Say something about us"></textarea>
									<span id="message" class="error"></span>
								</div>
							</div>
							<div class="form-group">
								<button id="btn-submit" class="btn btn-primary"> Send Message </button>
							</div>
						</form>
				</div>
			</div>
		</div>
{% endblock %}
{% block extrajs %}

<script>

function removeError(id){
	document.getElementById(id).innerHTML = "";
}

var count = 0;
$('#btn-submit').click(function() {
	<!--document.getElementById("success-message").innerHTML = "";-->
	var data = $('#contactform').serialize();
	var url = "{% url 'contact' %}"
	$('.error').html("");
    $('#successful').html("");
    document.getElementById("btn-submit").innerHTML = "SENDING...";
	$.ajax({
		type: 'POST',
		url: url,
		data: data,
		cache : false,
		processData: false,

		success: function (response) {
			if (response.status == 'success') {
				$('.error').remove();
				document.getElementById("btn-submit").innerHTML = "Send Message";
				<!--document.getElementById("success-message").innerHTML = "Message Sent Successfully";-->
				$('#contactform')[0].reset();
			}
			else if (response.result.status == 'form_error') {
				document.getElementById("btn-submit").innerHTML = "Send Message";

				$("#contactform :input:not(input[type='hidden'],input[type='submit'])").each(function () {
					var current = $(this).parent();
					var current_name = $(this).attr('name');
					$.each(response.result.errors, function (index, value) {
						if (current_name == index) {
							$('#'+current_name).html(value);
						}
					});
				});
			}
		},
		error: function(error){}
	});
	return false;
});
</script>
{% endblock %}