{% extends 'base.html' %}
{% block content %}
<!--==============================Content=================================-->
		<div class="content">
			<div class="container_12">
				<div class="banners">
					{% for p in packages %}
					<div class="grid_4">
						<div class="banner">
							<img src="{{p.image.url}}" alt="">
							<div class="label">
								<div class="title">{{p.title}}</div>
								<div class="price">from<span>$ {{p.price}}</span></div>
								<a href="#">LEARN MORE</a>
							</div>
						</div>
					</div>
					{% endfor %}

				</div>
			</div>
		</div>
<!--==============================footer=================================-->
{% endblock %}