{% extends 'base.html' %}
{% block content %}

<!--==============================Content=================================-->
		<div class="content">
			<div class="container_12">
				<div class="grid_8">
					<h3>Special offers</h3>
					{% for s in specials %}
					<div class="block2">
						<img src="{{s.image.url}}" alt="" class="img_inner fleft special-image">
						<div class="extra_wrapper">
							<div class="text1 col1"><a href="{% url 'special' %}?place={{s.place}}">
								{{s.place}}</a></div>
							<p>{{s.description|safe}}
							<br>
							<a href="#" class="link1">LEARN MORE</a>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="grid_3 prefix_1">
					<h5>CHOOse the country</h5>
					<ul class="list">
						{% for p in places %}
						<li><a href="{% url 'special' %}?place={{p}}">{{p}}</a></li>
						{% endfor %}
					</ul>
					<a href="{% url 'special' %}" class="link1">VIEW A<span class="low">ll</span></a>
				</div>
			</div>
		</div>
{% endblock %}